body {
    font-family: 'Markazi Text', serif;
}

button {
    size: 15px;
}

.button-wrapper {
    margin: 25px, auto;
}
#buttons-view {
    padding: 20px;
}

.main-grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 8fr 2fr;
}

.gifs-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 200px);
    order: 1;
    align-items: center;
}

img {
    width: 200px;
    height: 180px;
}

.img-wrapper p {
    text-align: center;
}

.form-wrapper {
    order: 2;

}
form {
    appearance: none;
    font-family: 'Markazi Text', serif;
}

form label {
    font-size: 23px;
}

#keyword-input {
    height: 26px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#add-button {
    color: white;
    height: 38px;
    -webkit-appearance: button;
    cursor: pointer;
    /* -webkit-border-radius: 3px; */
    /* -moz-border-radius: 3px; */
    border-radius: 3px;
    background-color: rgb(185, 11, 11);
    font-size: 19px;
}

.gifs {
    border: solid 2px gray;
}

.add-gifs {
    padding: 5px;
    margin: 5px;
    margin-right: 8px;
    color: white;
    height: 33px;
    -webkit-appearance: button;
    cursor: pointer;
    /* -webkit-border-radius: 3px; */
    /* -moz-border-radius: 3px; */
    border-radius: 3rem;
    background-color: rgb(4, 124, 124);
    font-size: 18px;

}

.form {
    margin: 5px auto;
}

@media only screen and (max-width: 425px) {
    .form-wrapper {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        order: 1;
    }

    #buttons-view {
        display: flex;
        flex-wrap: wrap;

    }
    .main-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gifs-wrapper {
        display: flex;
        flex-direction: column;
        order: 2;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        width: 250px;
        height: 215px;
    }
}


@media only screen and (max-width: 960px) {
    .main-grid {
        display: flex;
    }

    .gifs-wrapper {
        width: 62%;
        grid-template-columns: repeat(2, 200px);
    }

    .form {
        margin: 0;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .main-grid {
        display: flex;
    }

    .form {
        margin: 0;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
    }

    .gifs-wrapper {
        grid-gap: 11px;
        justify-content: center;
        width: 68%;
        grid-template-columns: repeat(3, 200px)
    }

}
